@import url("./styles/fonts.css");
@import "tailwindcss";

@theme {
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
  --color-nestWhite: #faf9f6;
  --color-nestBlack: #100c08;
  --color-charcoal: #1e1e1e;
  --color-eggshell: #f4f1ec;
  --color-sandBrown: #a78c64;
  --color-softGray: #e5e5e5;
  --color-glowPeach: #ffe9c9;
}

:root {
  --color-charcoal: #1e1e1e;
  --color-eggshell: #f4f1ec;
  --color-sandBrown: #a78c64;
  --color-softGray: #e5e5e5;
  --color-glowPeach: #ffe9c9;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
